<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
        <form name="addUser" ng-submit="addNewUser()" novalidate>
        <table class="table newuser">
            <tr>
                <td>
                    <input type="number" class="form-control" name="newId" min="{{newUser.minUserId}}" max="{{newUser.maxUserId}}" ng-model="id" ng-class="getIdValidationClass(addUser)" placeholder="enter unique id" required>
                    <p ng-show="idHintVisibility1" class="help-block">Enter correct id! (Between 1-10000)</p>
                    <p ng-show="idHintVisibility2" class="help-block">User with this id is already exists!</p>

                </td>
                <td>
                    <input type="text" name="newName" class="form-control" ng-model="name" ng-minlength="{{newUser.minUserNameLength}}" ng-maxlength="{{newUser.maxUserNameLength}}"  ng-class="getNameValidationClass(addUser)" placeholder="enter name" required>
                    <p ng-show="addUser.newName.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="addUser.newName.$error.maxlength" class="help-block">Username is too long.</p>
                </td>
                <td>
                    <input type="number" class="form-control" name="newAge" min="{{newUser.minUserAge}}" max="{{newUser.maxUserAge}}" ng-model="age" ng-class="getAgeValidationClass(addUser)" placeholder="enter age (18-100)" required>
                    <p ng-show="addUser.newAge.$error.min" class="help-block">Too young!</p>
                    <p ng-show="addUser.newAge.$error.max" class="help-block">Too old!</p>
                </td>
                <td><button type="submit" class="btn btn-default" ng-disabled="enableAddButton(addUser)">ADD</button></td>
            </tr>
        </table>
        </form>

       <table id="userslist" class="table table-bordered table-hover">
           <tr>
               <th ng-click="order('id')">id<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span></th>
               <th ng-click="order('name')">name<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
               <th ng-click="order('age')">age<span class="sortorder" ng-show="predicate === 'age'" ng-class="{reverse:reverse}"></span></th>
               <th>options</th>
           </tr>
           <tr ng-hide="checkingUsersCount()"> <td colspan="4" style="text-align: center">Empty!</td> </tr>
           <tr ng-repeat="user in users.items track by $index">
               <td><span>{{user.id}}</span></td>

                    <td>
                        <form name="currentUserName" novalidate>
                            <input type="text" name="currentName" class="form-control" ng-model="user.name" ng-minlength="{{newUser.minUserNameLength}}" ng-maxlength="{{newUser.maxUserNameLength}}" ng-show="user.editModeOn" ng-class="getEditedNameValidationClass(currentUserName)" required>
                        </form>
                            <span ng-hide="user.editModeOn">{{user.name}}</span>
                    </td>
                    <td>
                        <form name="currentUserAge" novalidate>
                            <input type="number" name="currentAge" class="form-control" ng-model="user.age" min="{{newUser.minUserAge}}" max="{{newUser.maxUserAge}}" ng-show="user.editModeOn" ng-class="getEditedAgeValidationClass(currentUserAge)" required>
                        </form>
                            <span ng-hide="user.editModeOn">{{user.age}}</span>
                    </td>

                    <td>
                   <button class="btn btn-default" ng-click="saveChangesAction(user)" ng-show="user.editModeOn" ng-disabled="enableSaveButton(currentUserName, currentUserAge)">Save</button>
                   <button class="btn btn-default" ng-click="cancelChangesAction(user)" ng-show="user.editModeOn">Cancel</button>
                   <button class="btn btn-default" ng-click="editUserAction(user)" ng-hide="user.editModeOn">Edit</button>
                   <button class="btn btn-default" ng-click="deleteUserAction($index)" ng-hide="user.editModeOn">Delete</button>
                    </td>
           </tr>
       </table>

    </div>

</div>
<!-- /.container -->
